<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On
    
    # Define la base para que Render sepa dónde empieza la web
    RewriteBase /

    # Evita que se vean los archivos de sistema o git si alguien intenta acceder
    RewriteRule ^\.git - [F,L]
    RewriteRule ^composer\.(json|lock)$ - [F,L]
    
    # IMPORTANTE: Si el archivo o carpeta existe (css, imágenes), lo muestra directamente
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Todo lo demás se envía a index.php para que tu Router (Controller) lo procese
    # [QSA] mantiene los parámetros de búsqueda si los hubiera (ej: ?id=1)
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>